/* Cabeçalho */
.header-laranja {
  background-color: #ec6a24;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
  border: 1px solid #e25810;
  padding: 4px 2px;
  font-size: 10px;
  line-height: 1.1;
}

/* Celula Input */
.celula-input {
  padding: 0 !important;
  height: 25px;
  vertical-align: middle !important;
  border: 1px solid #dee2e6;
}

/* Input */
.input-tabela {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 14px;
  padding: 4px;
  text-align: center;
  outline: none;
  font-family: monospace;
}

.input-tabela:focus {
  background-color: #fff8e1;
}

/* Dropdown */
.select-tabela {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 14px;
  text-align-last: center;
  outline: none;
  cursor: pointer;
}

/* Botões de Ação */
.btn-mini {
  font-size: 13px !important;
  padding: 2px 6px !important;
  margin: 0 2px;
}

/* Botão de Adicionar Linha */
.btn-add-row {
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  color: #e76a25;
  background-color: #dddddd;
  transition: all 0.2s ease;
  display: block;
  padding: 10px !important;
  border-top: 1px solid #dee2e6;
}

.btn-add-row:hover {
  background-color: #ffe0b2;
  color: #bf360c;
  text-decoration: none;
}

.btn-add-row:active {
  background-color: #ffcc80;
}
